@charset "UTF-8";

@font-face {
  font-family: "icon-font-1";
  src:url("fonts/icon-font-1.eot");
  src:url("fonts/icon-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/icon-font-1.woff") format("woff"),
    url("fonts/icon-font-1.ttf") format("truetype"),
    url("fonts/icon-font-1.svg#icon-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icon-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\61";
}
.icon-angle-up:before {
  content: "\62";
}
.icon-angle-right:before {
  content: "\63";
}
.icon-angle-left:before {
  content: "\64";
}
.icon-arrow-circle-o-down:before {
  content: "\65";
}
.icon-arrow-circle-o-up:before {
  content: "\66";
}
.icon-arrow-up:before {
  content: "\67";
}
.icon-arrow-right:before {
  content: "\68";
}
.icon-arrow-left:before {
  content: "\69";
}
.icon-arrow-down:before {
  content: "\6a";
}
.icon-arrow-circle-up:before {
  content: "\6b";
}
.icon-arrow-circle-right:before {
  content: "\6c";
}
.icon-arrow-circle-o-right:before {
  content: "\6d";
}
.icon-arrow-circle-o-left:before {
  content: "\6e";
}
.icon-arrow-circle-left:before {
  content: "\6f";
}
.icon-arrow-circle-down:before {
  content: "\70";
}
.icon-behance:before {
  content: "\71";
}
.icon-chevron-down:before {
  content: "\72";
}
.icon-chevron-left:before {
  content: "\73";
}
.icon-chevron-right:before {
  content: "\74";
}
.icon-chevron-up:before {
  content: "\75";
}
.icon-css3:before {
  content: "\76";
}
.icon-dribbble:before {
  content: "\77";
}
.icon-git:before {
  content: "\78";
}
.icon-git-square:before {
  content: "\79";
}
.icon-google-plus:before {
  content: "\7a";
}
.icon-github:before {
  content: "\41";
}
.icon-github-alt:before {
  content: "\42";
}
.icon-github-square:before {
  content: "\43";
}
.icon-html5:before {
  content: "\44";
}
.icon-linkedin:before {
  content: "\45";
}
.icon-linkedin-square:before {
  content: "\46";
}
.icon-facebook:before {
  content: "\47";
}
.icon-facebook-official:before {
  content: "\48";
}
.icon-facebook-square:before {
  content: "\49";
}
.icon-wordpress:before {
  content: "\4a";
}
.icon-ai:before {
  content: "\4b";
}
.icon-css3-1:before {
  content: "\4c";
}
.icon-dw:before {
  content: "\4d";
}
.icon-git-1:before {
  content: "\4e";
}
.icon-html5-1:before {
  content: "\4f";
}
.icon-jquery:before {
  content: "\50";
}
.icon-mysql:before {
  content: "\51";
}
.icon-php:before {
  content: "\52";
}
.icon-ps:before {
  content: "\53";
}
.icon-wp:before {
  content: "\54";
}
.icon-share:before {
  content: "\55";
}
.icon-share-outline:before {
  content: "\56";
}
.icon-share-1:before {
  content: "\57";
}
.icon-share-alt:before {
  content: "\58";
}
.icon-share-alt-square:before {
  content: "\59";
}
.icon-bars:before {
  content: "\5a";
}
.icon-list:before {
  content: "\30";
}
.icon-menu:before {
  content: "\31";
}
.icon-align-justify:before {
  content: "\32";
}
