/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/


/*********************
NAVIGATION STYLES
*********************/
#mobile-header .icon-menu {
    top: 100%;
}
    /*******************************************************************************************
     ************************************ CONTENT STYLES ***************************************
     *******************************************************************************************/
	 
#content {	

    /*******************************************************************************************
     **************************************** HOME *********************************************
     *******************************************************************************************/
	#home {	
		height: 100vh;	
		#homeBG { top: -15%; }
		#logo {
				width: 80%; 
				left: 10%;
		}
	}


    /*******************************************************************************************
     *************************************** CONTACT ******************************************
     *******************************************************************************************/
	 

	
    /*******************************************************************************************
     **************************************** ABOUT ********************************************
     *******************************************************************************************/
	 
	 /*#about {

		******************************************************************************************
         **************************************** about ****************************************
         *******************************************************************************************/
		 		
		#about {

			.title { 

			}
		}
		
		/*******************************************************************************************
         ***************************************** SERVICES ****************************************
         *******************************************************************************************/
		 
		#services {
			
			.title { 

			}	
						
			.grid {
				
				.col {
					padding-top: 50%;
					margin-bottom: 10%;
				}
			}
		}
						 
	
		/*******************************************************************************************
         ******************************************** TOOLS ****************************************
         *******************************************************************************************/
		#tools {	
			padding: 30% 0 10%;
			.title { 
			}	
									
			.grid {
				
				.col {
					padding-top: 50%;
				}
			}
				
		}	

		/*******************************************************************************************
         ************************************** CLIENT-SIDE SKILLS ***********************************
         *******************************************************************************************/
		 
		#client-side-skills {
			
			.title { 
				margin-top: 30%;
			}	
		}

		/*******************************************************************************************
         ************************************** SERVER-SIDE SKILLS ************************************
         *******************************************************************************************/
		 
		#server-side-skills {
			padding: 10% 0% 0%;
			margin: 0;
			
			.grid {
				padding: 25% 0 25%;
				.col {
					padding: 50% 0 0 0;
				}	
			}
			#tslope, #bslope { display: none; }
			.tt1, .bt1, .tt2, .bt2 {
				display: block;
			}
			.tt1, .bt1 {
					left: 0%;
			} 
			.tt2, .bt2 {
					left: 45%;
			}	

			.tt1, .tt2 {
					top: 0px;
					border-color: $section-color2 transparent transparent transparent;		
			}
			.bt1, .bt2 {
					bottom: 0px;		
					border-color: transparent transparent $section-color2 transparent;	
			}

		}
			 
	/* }  ABOUT */

    /*******************************************************************************************
     **************************************** WORK *********************************************
     *******************************************************************************************/	
	
	#work {
		margin: 0;
		
		.title { 

		}
		
		.project-wrap {
			
			.project { 
				 height: 50vh;
			}
		}
	}
	 

} /* CONTENT */

footer {
	.contact-details {

	 }
}


/*******************************************************************************************
 ************************************ MEDIA QUERIES ****************************************
 ******************************************************************************************
	 

@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 767px)
  and (orientation: landscape) {
*/
    /*******************************************************************************************
     ************************************ CONTENT STYLES ***************************************
     ******************************************************************************************
	 
	#content {	
	*/
		/*******************************************************************************************
		 **************************************** HOME *********************************************
		 ******************************************************************************************
			
		#home {	
						
			#logo {
					width: 60%;
					left: 20%;
			}	
			
	
	
		}
	*/
		/*******************************************************************************************
		 *************************************** CONTACT ******************************************
		 ******************************************************************************************
		 
		#contact {
			height: 100vh;
	
			.contact-wrap {
				top: 20px;		
			}
		}	
	*/
		/*******************************************************************************************
		 **************************************** ABOUT ********************************************
		 *******************************************************************************************/
					
		/*#about {
			
			******************************************************************************************
			 **************************************** about ****************************************
			 ******************************************************************************************
			 
			#about {
	
				.title { 
					margin-top: 15%;
				}	
			}*/
			/*******************************************************************************************
			 ***************************************** SERVICES ****************************************
			 ******************************************************************************************
			 
			#services {
				
				.title { 
					margin-top: 10%;
					margin-bottom: 10%;
				}	
							
				.grid {
					
					.col {
						padding-top: 50%;
						margin-bottom: 10%;
					}
				}			
			}*/
			/*******************************************************************************************
			 **************************************** TOOLS ********************************************
			 ******************************************************************************************
			 
			#tools {
				padding: 10% 0% 20%;
	
				.title { 
					margin-top: 20%;
				}
					
				.grid {		
					
					.col {
						padding-top: 50%;
						margin-bottom: 15%;
					}
				}
						
			}	
			*/
			/*******************************************************************************************
			 ************************************** CLIENT-SIDE SKILLS ***********************************
			 ******************************************************************************************
			 
			#client-side-skills {
	
				.title { 
					margin-top: 25%;
					margin-bottom: 10%;
				}	
				.backend-title { 
					background: $section-color;
					color: $section-color2;
				}
			}	
	*/
			/*******************************************************************************************
			 ************************************** SERVER-SIDE SKILLS ************************************
			 ******************************************************************************************
			 
			#server-side-skills {
				padding: 20% 0% 20%;
	
				.grid {
					
					.col {
						padding-top:50%;
	
						.l { left: -5%; }
					}	
				}
			}*/
		/*}  ABOUT */	
		/*******************************************************************************************
		 **************************************** WORK *********************************************
		 ******************************************************************************************	
		
		#work {
			
			.title { 

			}
		}
			

	} /* CONTENT 
}


@media only screen and (min-device-width: 600px) {

	#content {*/
			
			/*******************************************************************************************
			 **************************************** HOME *********************************************
			 ******************************************************************************************
				
			#home {	
							
				#logo {
						width: 60%;
						left: 20%;
						
					.image {
						width: 25%; height: 100%;
						float: left;
						@include image(contain, no-repeat, center center);
						background-image:url('../images/logo1.svg'); 
					}
					.txt {
						width: 75%;
						float: left;
						
						.name {
							float: left;
							font-size: 2.5em;						
						}	
						.slogan { float: right; font-size: 1em; letter-spacing: 0.5em; }	
					}
				}	
			}
	}
}

*/